<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="shared-styles.html">

<dom-module id="account-movement">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <brum-global-variable
      key="userProf"
      value="{{profile}}"
      readonly
      value-changed="_userLoaded">
    </brum-global-variable>

    <brum-global-variable
      key="userData"
      value="{{userData}}"
      value-changed="_dataLoaded">
    </brum-global-variable>

    <div class="card">
      <paper-listbox selected="{{accountIndex}}" on-iron-select="_accountSelected">
        <template is="dom-repeat" items='[[accounts]]' as="account">
          <paper-item>{{account.iban}} ({{account.balance}} &euro;)</paper-item>
        </template>
      </paper-listbox>
    </div>
    <div class="card">
      <paper-tabs selected="{{action}}" on-iron-select="_actionSelected">
        <paper-tab>Deposit</paper-tab>
        <paper-tab>Refund</paper-tab>
      </paper-tabs>


        <paper-item>
          <paper-input label="Amount" auto-validate pattern="[0-9\.]*" error-message="Allowed numbers or . only!" value="{{ammount::input}}"></paper-input>
        </paper-item>
      </div>
      <div class="card">
      <paper-item>
      <paper-button raised on-click="_submitMovement">Submit</paper-button>
      </paper-item>
    </div>

    <paper-dialog id="actions">
      <h2>[[modal]]</h2>
      <p>[[modalMessage]]</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>Accept</paper-button>
      </div>
    </paper-dialog>

    <iron-ajax
    id="putAction"
    url="https://europe-west1-micro-vine-218919.cloudfunctions.net/accounts/{{account}}"
    handle-as="json"
    content-type="application/json"
    headers="{{headers}}"
    method="PUT"
    on-response="handleAction"
    on-error="handleActionError"
    />
  </template>

  <script>
      class AccountMovement extends Polymer.Element {
          static get is() { return 'account-movement'; }
          static get properties() {
            console.log('> AccountMovement called ...')
            return {
              modal: {type: String},
              modalMessage: {type: String},
              ammount: {type: Number},
              accountIndex: { type: Number, vaule: 0},
              account: {type: String},
              action: {type: Number, value: 0},
              balance: { type: Number },
              accounts: {
                type: Object,
                computed: '_loadAccounts(profile)'
              },
              userData: {type: Object},
              profile: {type: Object},
              up: {type: Boolean, value: false}
            };
          }

          _computeHeaders(userData) {
            console.log("> _computeHeaders called...");
            var outputHeaders = {};
            outputHeaders.authorization = `Bearer ${userData.id_token}`;
            outputHeaders.accept = 'application/json';
            return outputHeaders;
          }

          _loadAccounts(profile) {
            console.log('> _loadAccounts');
            return profile.accounts;
          }

          handleAction() {
            console.log('> handleAction called...');
            this._sendEvent(!this.up);
            this.modal = 'Accepted'
            this.modalMessage = 'Your movement has been performed';
            this.$.actions.toggle();
          }

          handleActionError() {
            console.log('> handleActionError called...');
            this.modal = 'Error'
            this.modalMessage = 'Something went wrong!';
            this.$.actions.toggle();
          }

          _actionSelected(){
            // if (this.action === 0) {
            //   console.log(this.action);
            //   console.log('Refund');
            // } else {
            //   console.log(this.action);
            //   console.log('Deposit');
            // }
          }
          _accountSelected(e) {
            console.log('Selected account: ...');
          }

          _submitMovement() {
            const actions = {
              1: 'Refund',
              0: 'Deposit'
            }

            console.log('Submit movement: ...');
            if (this.accountIndex != null && this.ammount != null) {
              console.log('Action: ', actions[this.action]);
              console.log('Account: ', this.accounts[this.accountIndex].iban);
              console.log('Ammount: ', this.ammount);
              console.log('User: ', this.userData.name);
              const actionData = {
                ammount: this.ammount,
                action: actions[this.action],
              }
              this.account = this.accounts[this.accountIndex].iban;
              this.$.putAction.body = JSON.stringify(actionData);
              this.$.putAction.headers = this._computeHeaders(this.userData);
              this.$.putAction.generateRequest();
            } else {
              this.modal = 'Error'
              this.modalMessage = 'Select an account or ammount of money';
              this.$.actions.toggle();
              this._sendEvent(!this.up);
            }
          }
          _userLoaded() {
            console.log('> _userLoaded');
          }
          _sendEvent(evt) {
            console.log('> send Event');
            this.dispatchEvent(
              new CustomEvent(
                "myevent",
                {
                  "detail": {
                    "profileUpdated": evt
                  }
                }
              )
            )
          }
      }

      window.customElements.define(AccountMovement.is, AccountMovement);
  </script>
</dom-module>
