<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="shared-styles.html">

<dom-module id="account-detail">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .big {
        --iron-icon-height: 28px;
        --iron-icon-width: 28px;

      }
      .left {
        position:fixed;
        top:30%;
        left:50%
      }
    </style>
    <brum-global-variable
      key="userProf"
      value="{{profile}}"
      value-changed="_userLoaded">
    </brum-global-variable>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}"
      tail="{{subroute}}"
      on-route-changed="_routeChanged">
    </app-route>
    <app-route
        route="{{subroute}}"
        pattern="/:iban"
        data="{{ibanSelected}}">
    </app-route>
    <div>
      <paper-item>
        <paper-button raised class="pad" on-tap="_goBack" is="auto-binding">
          <iron-icon icon=arrow-back class="big"></iron-icon>
        </paper-button>
    </div>
    <div hidden$="[[!noMovements]]" class="card">
      <h3>No movements found</h3>
    </div>
    <template is="dom-repeat" items="{{account.movements}}">
        <div class="card">
          <h4>[[item.action]]: {{item.ammount}}</h4>
          <h5>{{item.localDate}} - {{item.localTime}}</h5>
        </div>
    </template>
  </template>

  <script>
      class AccountDetail extends Polymer.Element {
          static get is() { return 'account-detail'; }
          static get properties() {
            console.log('> AccountDetail called ...')
            return {
              noMovements: {type: Boolean, value:true},
              route: { type: Object },
              routeData: { type: Object },
              subroute: { type: Object },
              ibanSelected: { type: Object },
              profile: { type: Object },
              account: {
                type: Object,
                computed: '_loadAccounts(profile, ibanSelected)'
              }
            }
          }

          _routeChanged() {
            console.log('> _routeChanged');
          }

          _loadAccounts(profile, ibanSelected) {
            console.log('> _loadAccounts');
            if ( 'accounts' in profile ) {
              const myAccount = profile.accounts.find(o => o.iban === ibanSelected.iban);
              this._setHidden(myAccount);
              if (myAccount && 'movements' in myAccount) {
                this._setAction(myAccount);
                this._formatDate(myAccount)
                myAccount.movements.reverse();
                return myAccount;
              }
            }
          }

          _setHidden(myAccount) {
            console.log('> _setHidden');
            if (myAccount && 'movements' in myAccount) {
              if ( myAccount.movements.length > 0 ) {
                this.noMovements = false;
                return true
              }
            }
            this.noMovements = true;
          }

          _setAction(myAccount) {
            myAccount.movements.map(o => {
              if (Number(o.ammount) >= 0) {
                o.action = 'Deposit'
              } else {
                o.action = 'Refund'
              }
            })
          }

          _formatDate(myAccount){
            let options = {
              weekday: 'long',
              year: 'numeric',
              month: 'long',
              day: 'numeric'
            };
            myAccount.movements.map(o => {
              const date = new Date(o.date_created);
              o.localDate = date.toLocaleDateString('es-ES', options);
              o.localTime = date.toLocaleTimeString('es-ES');
            })
          }

          _goBack() {
            window.history.back();
          }

          _userLoaded() {
            console.log('> _userLoaded');
          }
      }

      window.customElements.define(AccountDetail.is, AccountDetail);
  </script>
</dom-module>
