<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="home-techu">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{userData}}"></iron-localstorage>

    <iron-ajax auto
      id="getQuoteAjax"
      url="https://api.whatdoestrumpthink.com/api/v1/quotes/random"
      method="get"
      handle-as="json"
      on-response="manageQuoteResponse"
      on-error="showError"
      last-response="{{quote}}">
    </iron-ajax>

    <div class="card">
      <h1>Welcome - {{userData.profile.email}}</h1>
      <blockquote>[[quote.message]]</blockquote>
    </div>
  </template>

  <script>
      class HomeTechu extends Polymer.Element {
          static get is() { return 'home-techu'; }
          static get properties() {
            return {
              quote: { type: Object },
              userData: { type: Object }
            }
          }

      manageQuoteResponse(data) {
        console.log("Llegaron los resultados de la API");
        this.quote = data.detail.response;
      }
    }

      window.customElements.define(HomeTechu.is, HomeTechu);
  </script>
</dom-module>
