<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="not-found">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>
    <div>
      <a href="[[rootPath]]">
        <img src="images/404.png" alt="Oops you hit a 404." style="position:fixed;top:10%;left:30%">
      </a>
    </div>
    <div >
      <img src="images/404-number.png" alt="Oops you hit a 404." style="position:fixed;top:55%;left:36%">
    </div>
  </template>

  <script>
      class NotFound extends Polymer.Element {
          static get is() { return 'not-found'; }
          static get properties() {
              return {
                  // This shouldn't be neccessary, but the Analyzer isn't picking up
                  // Polymer.Element#rootPath
                  rootPath: String,
              };
          }
      }

      window.customElements.define(NotFound.is, NotFound);
  </script>
</dom-module>
