<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="shared-styles.html">

<dom-module id="user-profile">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .big {
        --iron-icon-height: 28px;
        --iron-icon-width: 28px;
      }
    </style>
    <brum-global-variable key="userProf" value="{{profile}}" value-changed="_userProfile"></brum-global-variable>
    <brum-global-variable key="userData" value="{{userData}}" value-changed="_dataLoaded"></brum-global-variable>

    <div id ="center" style="position:fixed;top:30%;left:50%">
      <paper-spinner alt="User loading..." active="[[gettingUser]]"></paper-spinner>
    </div>

    <div>
      <paper-item>
        <paper-button raised class="pad" on-tap="_addAccount" is="auto-binding" style="left:90%">
          <iron-icon icon=add-box class="big"></iron-icon>
        </paper-button>
      </paper-item>
    </div>
    <div hidden$="[[!noAccounts]]" class="card">
      <h3>No accounts create a new one!</h3>
    </div>
    <template is="dom-repeat" items="{{accounts}}">
      <div class="card">
        <a href="/account-detail/{{item.iban}}">
            <iron-icon icon=history class="big"></iron-icon>
        </a>
          <div><p style="font-size: 16px;">IBAN: <span>[[item.iban]]</span></p></div>
          <div>Balance: <span>[[item.balance]]</span></div>
      </div>
    </template>
    <iron-ajax
    id="getUser"
    url="https://europe-west1-micro-vine-218919.cloudfunctions.net/users"
    method="GET"
    handle-as="json"
    content-type="application/json"
    headers="{{headers}}"
    loading="{{gettingUser}}"
    on-response="showData"
    on-error="showError"
    />

    <iron-ajax
    id="postAccount"
    url="https://europe-west1-micro-vine-218919.cloudfunctions.net/accounts"
    method="POST"
    handle-as="json"
    content-type="application/json"
    headers="{{headers}}"
    on-response="handleAccount"
    on-error="handleAccountError"
    />
  </template>

  <script>
      class UserProfile extends Polymer.Element {
          static get is() { return 'user-profile'; }
          static get properties() {
            console.log('> VisorCuenta called ...')
            return {
              gettingUser: {type: Boolean},
              noAccounts: {type: Object, value: false},
              profile: {type: Object},
              userData: { type: Object },
              accounts: {
                type: Array,
                items: {
                  type: Object,
                  properties: {
                    iban: {type: String},
                    balance: {type: Number}
                  }
                }
              },
              headers: {
                type: Object,
                  computed: '_computeHeaders(userData)'
                },
              profileUpdated: {
                type: Boolean,
                observer:'_profileUpdatedHandler'
              }
            };
          }

          _computeHeaders(userData) {
            console.log("> _computeHeaders called...");
            var outputHeaders = {};
            outputHeaders.authorization = `Bearer ${userData.id_token}`;
            outputHeaders.accept = 'application/json';
            return outputHeaders;
          }

          showData(data) {
            console.log("> showData called...");
            if (data.detail.response.length === 1) {
              this.profile = data.detail.response[0];
              this.accounts = this.profile.accounts;
              this._setHidden(this.accounts)
            } else {
              this.profile = {}
              this.accounts = []
            }
          }

          showError(err) {
            console.log("> showError called...");
            this.noAccounts = true;
            console.log(err.detail.error);
          }

          _setHidden(myAccounts) {
            console.log('> _setHidden');
            if (myAccounts.length > 0 || this.gettingUser) {
                this.noAccounts = false;
                return true
              }
            this.noAccounts = true;
          }

          handleAccount() {
            console.log("> handleAccount called...");
            this._getProfile();
          }

          _addAccount() {
            console.log('User: ', this.userData);
            this.$.postAccount.headers = this._computeHeaders(this.userData);
            this.$.postAccount.body = JSON.stringify({});
            this.$.postAccount.generateRequest();
          }

          _dataLoaded() {
            console.log('> _dataLoaded');
          }

          _userProfile(oldValue, newValue) {
            console.log('> _userProfile');
            console.log(newValue);
          }

          constructor() {
            super();
          }

          ready() {
            super.ready();
            console.log('ready');
            this._getProfile();
          }

          _profileUpdatedHandler(newValue, oldValue) {
            console.log('> _profileUpdatedHandler handling updateProfile event');
            console.log('new', newValue, 'old', oldValue);
            if (newValue) {
              this._getProfile();
            }
          }

          _getProfile() {
            console.log('> _getProfile');
            this.$.getUser.headers = this._computeHeaders(this.userData);
            this.$.getUser.body = JSON.stringify({email: this.userData.profile.email});
            this.$.getUser.generateRequest();
          }
      }

      window.customElements.define(UserProfile.is, UserProfile);
  </script>
</dom-module>
